<table class='table table-hover table-inverse'>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post do %>
            <%= image_tag post.get_post_image, style: "border-radius: 15%; width: 200px; height: 200px; object-fit:cover;" %>
          <% end %>
        </td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>