<table class='table table-borderless' style="color: white;">
  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td style="width: 20%">
          <%= link_to post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
            <i class="fa-solid fa-hashtag" style="color: #74C0FC;"></i><%= tag.name %>
          <% end %>
        </td>
        <td style="width: 20%">
          関連投稿
          <%= link_to post_tag_posts_path(tag), style: "color: #0dcaf0; text-decoration: none;" do %>
            (<%= tag.posts.count %>)
          <% end %>
        </td>
        <td style="width: 40%"></td>
      </tr>
    <% end %>
  </tbody>
</table>