<% if current_user.following?(user) %>
  <%= link_to user_relationships_path(user.id), method: :delete do %>
    <p class="options[:class].presence || btn btn-info m-3"><i class="fa-solid fa-user-minus" style="color: #ffffff;"></i> フォロー外す</p>
  <% end %>
<% else %>
  <%= link_to user_relationships_path(user.id), method: :post do  %>
    <p class="options[:class].presence || btn btn-outline-info m-5"><i class="fa-solid fa-user-plus" style="color: #74C0FC;"></i> フォローする</p>
  <% end %>
<% end %>