<div class="container-fluid text-center" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'admin/users/sidebar' %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h2 class="col-md-5 p-4"><%= link_to @user.name, admin_user_path(@user), style: "text-decoration: none; color: #0dcaf0" %> さんのフォローワー</h2>
      </div>
      <% if @users.exists? %>
        <%= render "admin/users/index", users: @users %>
      <% else %>
        <p class="mt-5">ユーザーはいません</p>
      <% end %>
    </div>

  </div>
</div>