<div class="container-fluid">
  <div class="row-md-3 offset-md-3">
    <h2 class="m-3">検索結果</h2>
  </div>
  <div class="row justify-content-center">
    <div style="width: 50%">
      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">投稿</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">ユーザー</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">タブ</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <% if @posts.blank? %>
              <p class="col-md-4 offset-md-4 mt-5">検索結果はございません</p>
            <% else %>
              <%= render 'admin/posts/index', posts: @posts %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row">
            <% if @users.blank? %>
              <p class="col-md-4 offset-md-4 mt-5">検索結果はございません</p>
            <% else %>
              <%= render 'admin/users/index', users: @users %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        </div>
      </div>
    </div>
  </div>


</div>
