<div class="container-fluid text-center" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'admin/users/sidebar' %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h2 class="col-md-5 p-4">ユーザー投稿一覧</h2>
      </div>
      <div class="row" style="height: 600px; overflow-y: scroll">
        <%= render 'index', posts: @user_posts %>
      </div>
    </div>

  </div>
</div>
