<div class="container-fluid text-center" style="color: white;">
  <div class="about">
    <h1 class="welcome-h1"  style="color: aqua;text-shadow: 0 0 10px aqua;font-size: 48px">ShareSphereへようこそ</h1>
    <p class="welcome-p mt-5 p-3" style="line-height: 50px;" >ShareSphereは、世界中の人々が自身の経験や物語を共有し合い、
    互いにインスピレーションと共感を得ることができるコミュニティです。</br>
    私たちの目標は、異なる背景や価値観を持つ人々がつながり、
    理解し合うことで、より豊かな人間関係を築くことです。</p>
  </div>
  <div class="about-flex">
    <div class="about-value p-5 mr-4" style="background-color: rgba(0, 41, 115, 0.2)">
      <div class="row"><div class="ml-5 mt-3 square"></div><h4 class="ml-3 value-li" >私たちの価値</h4></div>
      <p class="mt-3 p-3" style="line-height: 50px;">共感: 他者の経験に耳を傾け、その感情や思いに共感することで、心の絆を深めます。</br>
      インスピレーション: 他のユーザーの物語から新しい視点やアイデアを得て、自分自身の成長を促進します。</br>
      多様性: 多様なバックグラウンドを持つ人々が集まり、それぞれの物語を通じて新しい世界を発見します。</p>
    </div>
    <div class="about-story p-5 ml-4" style="background-color: rgba(0, 41, 115, 0.2)">
      <div class="row"><div class="ml-5 mt-3 square"></div><h4 class="ml-3 story-h4" >私たちのストーリー</h4></div>
      <p class="story-p mt-3 p-3" style="line-height: 50px;" >ShareSphereは、人々がもっとお互いを理解し、サポートし合う世界を目指して誕生しました。</br>
      創設者であるWANGは、自身の経験から、共感とインスピレーションが人々の心を豊かにし、</br>
      前向きな変化をもたらすことを実感しました。この信念のもと、ShareSphereはスタートしました。</p>
    </div>
  </div>
  <div class="about-join">
    <h4 class="join-h4 mt-5" >あなたも参加しませんか？</h4>
    <p class="join-p p-3" style="line-height: 50px;" >さあ、あなたもShareSphereに参加して、自分の物語をシェアし、他の人々の物語に触れてみませんか？</br>
    一緒に、心温まるコミュニティを築きましょう。</p>
  </div>
</div>