<div class="container-fluid text-center">
  <div class="row justify-content-center">
      <% if user_signed_in? %>
        <div class="col-md-2 offset-md-1">
          <%= render 'public/users/sidebar' %>
        </div>
        <div class="col-md-7 offset-md-1">
        </div>
      <% elsif admin_signed_in? %>
        <div class="col-md-2 offset-md-1">
          <%= render 'admin/users/sidebar' %>
        </div>
        <div class="col-md-7 offset-md-1">
        </div>
      <% else %>
        <div style="width:100%; height: 300px;"></div>
        <div style="width:100%; height: 300px; display: flex; justify-content: center; align-items: center;">
          <div><h1 id="top-h1" style="font-size: 200px; color: #333;">ShareSphere</h1></div>
        </div>
        <div style="width:100%; height: 200px;">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-outline-info btn-lg mt-5", type: "button", method: :post %></br>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info btn-lg mt-3", type: "button" %>
        </div>
        <div style="width:100%; height: 300px;"></div>
      <% end %>
  </div>
</div>