@use '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
}

// topページとアニメーション
#top-h1:after {
    content: 'ShareSphere';
    position: absolute;
    top: 300;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    background-image: linear-gradient(to right, #c23616, #192a56, #00d2d3, yellow,
    #6d214f, #2e86de,#4cd137, #e84118);
    background-clip: text;
    -webkit-background-clip: text;
    clip-path: circle(200px at 50% 50%);
    -webkit-clip-path: circle(200px at 50% 50%);
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        clip-path: circle(100px at 0% 50%);
        -webkit-clip-path: circle(100px at 0% 50%);
    }

    50% {
        clip-path: circle(100px at 100% 50%);
        -webkit-clip-path: circle(100px at 100% 50%);
    }

    100% {
        clip-path: circle(100px at 0% 50%);
        -webkit-clip-path: circle(100px at 0% 50%);
    }
}


// 画像ホバーしたときの表現
.hover-zoom:hover {
    transform: scale(1.05);
}


// フラッシュメッセージ
.flash-message {
    color: white;
}

#notice {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(0, 255, 255, 1);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#alert {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(255, 89, 96, 1);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

// サイドバー
.sidebar_link {
    text-decoration: none;
    color: #0dcaf0;
    font-size: 18px
}
.sidebar_link:hover {
    text-decoration: none;
    color: #9BF9CC;
    font-size: 20px;
}

// フッター
.footer {
    // position: fixed;
    // bottom: 0;
    // margin-bottom: 0;
    width: 100%;
    height: 180px;
}

.about-flex {
    display: flex;
    justify-content: center;
}

// 四角のアニメーション
.square {
    height: 30px;
    width: 30px;
    border: 4px solid aqua;
    border-radius: 2px;
    box-shadow: 0 0 6px aqua, 0 0 6px aqua inset;
    translate: -50% -50%;
    z-index: 10;
    animation: 2s square ease-in-out infinite;
}

@keyframes square{
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    67%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

.pagination>li>a {
    border: solid;
    border-radius: 15px;
    color: #0dcaf0;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
}

.pagination>.active>a {
    padding: 15px;
}