<div class="container-fluid text-center" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'sidebar' %>
    </div>

    <div class="col-md-8">
      <div class="row">
        <h2 class="col-md-5 p-4">会員一覧</h2>
      </div>
      <div class="row">
        <div class="col" style="height: 800px; overflow-y: scroll">
          <%= render 'index', users: @users %>
        </div>
      </div>
    </div>

  </div>
</div>