<div class="container-fluid text-center" style="color: white">
  <div class="row">

    <div class="col-md-2 offset-md-1">
      <%= render 'sidebar' %>
    </div>

    <div class="col-md-8">
      <%= render 'index', users: @users %>
    </div>

  </div>
</div>