<div>
  あなたが投稿した
  <%= link_to notification.notifiable.title, post_path(notification.notifiable), style: "text-decoration: none; color: #0dcaf0" %>
  が
  <%= link_to notification.notifiable.user.name, user_path(notification.notifiable.user), style: "text-decoration: none; color: #0dcaf0" %>
  さんにコメントされました
  <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
</div>