<footer>
  <div class="container-fluid text-center">
    <div class="row justify-content-center mb-5" >
      <%= link_to "ShareShpereについて", about_path, style: "text-decoration: none; color: #0dcaf0" %>
    </div>
    <div class="row justify-content-center mt-5" style="color: white">
      <p>&copy; Infratop.inc.</p>
    </div>
  </div>
</footer>