<% if notice %>
  <p class="m-5 alert alert-primary alert-dismissible mx-auto text-center" style="box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #fff">
    <strong><%= notice %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% elsif alert %>
  <p class="m-5 alert alert-danger alert-dismissible text-center" style="box-shadow: 0px 5px 12px #cad4e2, -6px -6px 12px #fff">
    <strong><%= alert %></strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>