<% if notice %>
  <div class="flash-message text-center">
    <strong class="notice"><%= notice %></strong>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif alert %>
  <div class="flash-message text-center">
    <strong class="alert"><%= alert %></strong>
  </div>
<% end %>